* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background-color: #fffcf9;
}

.header {
  display: flex;
  height: 110px;
  width: 100%;
  background-color: #fff7ef;
  box-shadow: 2px 2px 10px rgb(184, 184, 184);
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

#logo {
  width: 90px;
  height: 90px;
 padding-right: 200px;

}

.nav li a{
  text-decoration: none;
  font-size: 17px;
  font-family: sans-serif;
  font-weight: 500;
  color: #654540;
  transition: 0.7s;

}

.nav li a:hover{
  color: #000000; ;
  font-weight: 700;
}

.shopping a {
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 700;
  color: #654540;
  transition: 0.5s;
  font-size: 30px;
  padding-right: 30px;
}
.shopping a:hover {
  color: black;
}
.header nav a {
  list-style: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  font-weight: 600;
  color: #654540;
  transition: 0.5s;
}
.header nav a:hover {
  color: #474747;
  text-shadow: 1px 1px 12px rgb(194, 194, 194);
  font-size: 18px;
}
.introducao {
  margin: 0 20px;
  background-color: #fff7ef;
  box-shadow: 2px 2px 15px rgb(187, 187, 187);
  border-radius: 5px;
  padding: 20px;
}
.introducao section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.introducao section h1 {
  color: #ad9c80;
  font-family: 'Edu TAS Beginner', cursive;
}
.introducao section i {
  font-size: 50px;
  color: #e6d0a6;
}